PATH='/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'

0 2 * * * tarsnap --keyfile /var/run/secrets/tarsnap --cachedir /data/cache -c -f $(date +\%Y-\%m-\%d) -C /data/backup/filingcabinet --exclude .git  . > /proc/$(cat /run/crond.pid)/fd/1 2> /proc/$(cat /run/crond.pid)/fd/2
